.row
  .span12
    %span.answer
      .span1
        %a{href: @article.url}
          = @article.number_of_votes
      .span11
      You should be a
      %a{:href => "http://en.wikipedia.org/wiki/#{@article.title}"}
        ="sexy #{@article.title}!"
.row
  .span12
    %form{:action => "/articles/#{@article.id}/votes", :method => "post", :style => "display:inline;"}
      %button.btn.btn-large{:type => "submit"}
        %i.icon-heart
        Love it!
    %a.btn.btn-large{href: '/'}
      %i.icon-refresh
      Another suggestion?

.row
  .span12
    %a.twitter-share-button{"data-text" => "I'm going to be a sexy #{@article.title.upcase} for Halloween! Get your recommendation too!",
    "data-counturl" => "http://halloween-helper.herokuapp.com",
    "data-url" => @article.url,
    :href => "https://twitter.com/share"} Tweet your costume!
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");